examples/minimal/echo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="urn:test"
             targetNamespace="urn:test">
  <types>
    <xs:schema targetNamespace="urn:test" elementFormDefault="qualified">
      <xs:element name="EchoRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="text" type="xs:string"/>
          </xs:sequence>
          <xs:attribute name="lang" type="xs:string" use="optional"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="EchoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="text" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>

  <message name="EchoRequestMsg">
    <part name="parameters" element="tns:EchoRequest"/>
  </message>
  <message name="EchoResponseMsg">
    <part name="parameters" element="tns:EchoResponse"/>
  </message>

  <portType name="EchoPortType">
    <operation name="Echo">
      <input message="tns:EchoRequestMsg"/>
      <output message="tns:EchoResponseMsg"/>
    </operation>
  </portType>

  <binding name="EchoBinding" type="tns:EchoPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="Echo">
      <soap:operation soapAction="urn:test#Echo"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <service name="EchoService">
    <port name="EchoPort" binding="tns:EchoBinding">
      <soap:address location="http://localhost/echo"/>
    </port>
  </service>
</definitions>

