test/conformance/fixtures/deep-composition-sequence/deep-composition-sequence.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="urn:conformance:deep-composition-sequence"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="urn:conformance:deep-composition-sequence">
  <wsdl:types>
    <xs:schema targetNamespace="urn:conformance:deep-composition-sequence" elementFormDefault="qualified">
      <xs:complexType name="LevelTwo">
        <xs:sequence>
          <xs:element name="value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LevelOne">
        <xs:sequence>
          <xs:element name="levelTwo" type="tns:LevelTwo"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="DeepRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="levelOne" type="tns:LevelOne"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeepResponse" type="xs:string"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="DeepInput"><wsdl:part name="parameters" element="tns:DeepRequest"/></wsdl:message>
  <wsdl:message name="DeepOutput"><wsdl:part name="parameters" element="tns:DeepResponse"/></wsdl:message>
  <wsdl:portType name="DeepPortType">
    <wsdl:operation name="SubmitDeep">
      <wsdl:input message="tns:DeepInput"/>
      <wsdl:output message="tns:DeepOutput"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeepBinding" type="tns:DeepPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SubmitDeep">
      <soap:operation soapAction="urn:submitDeep"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
